Repository csandman/yup-phone-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts}": "eslint --fix",
  "*": "prettier --write --ignore-unknown",
  "package.json": "prettier-package-json --write"
}

Update license year
  LICENSE
Due: prettier --write --ignore-unknown

Add 3 actions to ensure code funcionality
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/package-size-report.yml
Due: prettier --write --ignore-unknown

2.0.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, prettier-package-json --write

Update README.md
  README.md
Due: prettier --write --ignore-unknown

add support for all country codes
  README.md
  package-lock.json
  package.json
  src/yup-phone-lite.test.ts
  src/yup-phone-lite.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier-package-json --write
